form{
    display:flex;
    flex-direction:column;
    width:45vw;
  }
  form input{
    padding:50px;
  }
  
  form span{
    padding:20px;
    
  }
  form > button{
    padding:50px;
    margin:5em 1em;
    cursor:pointer;
  }

  ul{
    list-style:none;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content:center;
    width:50vw;
  
  }
  ul li{
    padding:1em 2em .8em 2em;
    border:1px solid black;
    display: grid;
  
  }
  table > tr{
    padding:3px;
    margin: 50px;

  }